.add_button {
    position: absolute;
    left: 250px;
    top: 84px;
    padding: 8px 17px 13px;
    background: #2DC08D;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.add_button:hover {
    background-color: #23976f;
}

.page {
    margin-bottom: 50px;
    position: absolute;
    width: 940px;
    height: 1329.85px;
    left: 250px;
    top: 143px;

    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.experience_wrapper {
    margin-top: 32px;
    margin-left: 48px;
}

.experience_header {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: #2D3639;
    border-bottom: 3px solid #2D3639;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.experience_header > span:hover {
    cursor: pointer;
    color: red;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 4px;
    outline: none;
    border: none;
}

.company_name {
    font-family: 'Rubik', sans-serif;
    color: #3F9CDC;
    font-size: 16px;
    outline: none;
}

.company_name:empty:not(:focus):before {
    content: attr(data-text);
}

.date_city > input {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    border: none;
    outline: none;
}

.date_city > span {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-right: 10px;
    outline: none;
}

.spanOne:empty:not(:focus):before {
    content: attr(data-text);
}

.description {
    margin-top: 4px;
}

.description > input{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    outline: none;
    border: none;
    cursor: pointer;
}

.bubble_wrapper {
    position: absolute;
    width: 290px;
    height: 171px;
    left: 51px;
    top: 177px;
    visibility: hidden;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
}

.bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 0px;
    position: absolute;
    width: 290px;
    height: 160px;
    left: -3px;
    top: 11px;
    background: #FFFFFF;
    border-radius: 6px;
}

.bubble::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.bubble_content {
    margin: 12px 16px;
    width: 90%
}

.bubble_header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.content_logo_wrapper {
    display: flex;
    justify-content: space-between;
}

.content_logo_wrapper > span {
    margin-left: 8px;
}

.ignore_wrapper  > span {
    margin-left: 10px;
}

.ignore_wrapper > input {
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}